<p id="notice"><%= notice %></p>
<h1>Author</h1>
<p>ID автора: <%= @author.id =%></p>
<p>Имя автора: <%= @author.name =%></p>
<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
